.weather-card {
  display: flex;
  justify-content: space-between;
  justify-self: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.03);
  transition: all 0.2s;
  animation: fadeIn 1s;

  &:hover {
    background: rgba(255,255,255,0.05)
  }

  .date-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .degrees {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: rgba(255, 255, 255, 0.5);

    .degrees-value {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 14px;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
