.weather-card {
  display: flex;
  justify-content: space-between;
  justify-self: start;
  align-items: center;
  flex-direction: column;
  gap: clamp(0.313rem, 0.112rem + 0.8vw, 0.625rem);
  width: 100%;
  padding: clamp(0.625rem, 0.425rem + 0.8vw, 0.938rem)
    clamp(0.438rem, 0.317rem + 0.48vw, 0.625rem);
  border-radius: clamp(0.313rem, 0.112rem + 0.8vw, 0.625rem);
  background: rgba(255, 255, 255, 0.03);
  transition: all 0.2s;
  animation: fadeIn 2s;

  &:hover {
    background: rgba(255, 255, 255, 0.07);
  }

  .date-info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .weather-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-degrees-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .condition-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    .degrees {
      display: flex;
      justify-content: space-between;
      width: 80%;
      color: rgba(255, 255, 255, 0.5);
    }

    .condition {
      text-align: center;
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
