.additional-info-list {
  display: flex;
  flex-direction: column;
  gap:6px;
  justify-content: center;
  align-items: end;
  animation: fadeIn 2s;

  .loader {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
