.big-degrees {
  display: flex;
  align-items: start;
  gap: 3px;
  animation: fadeIn 2s;

  .degrees {
    font-size: clamp(3.125rem, 0.321rem + 11.22vw, 7.5rem);
    font-weight: 400;
  }

  .celsius {
    font-size: clamp(1.563rem, 0.561rem + 4.01vw, 3.125rem);
  }
}

@keyframes fadeIn {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
