.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(1.25rem, 0.449rem + 3.21vw, 2.5rem);
  height: 100vh;
  width: clamp(20rem, 0.769rem + 76.92vw, 50rem);
  margin: 0 auto;
}
