.drop1 {
  animation: rain 2s infinite ease-in-out;
}

.drop2 {
  animation: rain 2.1s infinite ease-in-out;
}

.drop3 {
  animation: rain 1.8s infinite ease-in-out;
}

.drop4 {
  animation: rain 1.9s infinite ease-in-out;
}

.big-star {
  animation: levitation 3s infinite ease-in-out;
}

.small-star {
  animation: levitation 2.5s infinite ease-in-out;
}

@keyframes rain {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-0.23px, 0.4px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes levitation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.3px);
  }
  100% {
    transform: translateY(0);
  }
}
