.title {
  line-height: 0.8;
  &__medium {
    font-weight: 500;
  }
  &__semiBold {
    font-weight: 600;
  }
  &__bold {
    font-weight: 700;
  }
  &__small {
    font-size: clamp(0.5rem, 0.26rem + 0.96vw, 0.875rem);
  }
  &__middle {
    font-size: clamp(0.625rem, 0.385rem + 0.96vw, 1rem);
  }
  &__large {
    font-size: clamp(0.75rem, 0.51rem + 0.96vw, 1.125rem);
  }
  &__primary {
    color: var(--primary-text-color);
  }
  &__secondary {
    color: var(--secondary-text-color);
  }
}
