.icon-with-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .icon {
    width: clamp(1rem, 0.599rem + 1.6vw, 1.625rem);
    height: clamp(1rem, 0.599rem + 1.6vw, 1.625rem);
  }
}
